/* WRAPPER */
.navbar-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  z-index: 1000;
      margin-left: 3rem;
    margin-right: 3rem;
}

/* PILL CONTAINER */
.navbar-pill {
  width: 95%;
  max-width: 1400px;
  height: 72px;
  background: #ffffff;
  border-radius: 999px;
  padding: 0 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo {
  height: 36px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.brand-name {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.brand-sub {
  font-size: 10px;
  color: #6b7280;
}

/* CENTER */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 26px;
}

.navbar-links a {
     text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #111827;
    padding: 6px 0;
}


.navbar-links a.active {
  font-weight: 700;
}

/* RIGHT */
.navbar-user {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.user-avatar {
  width: 36px;
  height: 36px;
  background: #22c55e;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
