


.wallet-box {
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.wallet-box p {
  color: #6b7280;
}

.wallet-box h2 {
  margin-top: 10px;
}

.wallet-box.highlight {
  background: #e9fff3;
}




.referral-card {
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  margin-top: 20px;
}

.referral-box {
  display: flex;
  gap: 10px;
}

.referral-box input {
  flex: 1;
  padding: 8px;
}

.referral-box button {
  padding: 8px 14px;
  cursor: pointer;
}
